.section-container-6 {
  height: 100%;
  padding: 6rem !important;
}
.section-container-2 {
  height: 100%;
  padding: 2rem !important;
}
.wrap-container {
  height: 100%;
}
.threshold-code {
  margin-top: 25rem;
}
.lizi {
  margin-top: 25px;
}